* {
}
body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container {
  border: 1px solid red;
  width: 90rem;
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333745;
}
.card {
  width: 290px;
  height: 500px;
  padding: 30px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 46px -4px rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
  color: white;
  font-size: 20px;
}
.card-a {
  background: #7f7fd5;
  background: linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5);
}
.card-b {
  background: #ff416c;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
}
.card-c {
  background: #00b09b;
  background: linear-gradient(to right, #96c93d, #00b09b);
}
h2 {
  font-weight: bold;
  text-shadow: 3px 5px 5px #333745;
}
.precio {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
  text-shadow: 3px 5px 3px #333745;
}
.btn-subs {
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 15px;
}
.plan {
  font-weight: bold;
  text-shadow: 3px 5px 5px #333745;
}
.list {
  font-weight: bold;
  list-style: none;
  text-shadow: 3px 5px 5px #333745;
  margin-bottom: 25px;
}
